terraform/terraform-files/instances/.terraform.lock.hcl
terraform/terraform-files/instances/.terraform
terraform/terraform-files/instances/terraform.tfstate.backup
terraform/terraform-files/instances/terraform.tfstate
terraform/ssh-files/terraform.tfstate